<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Content -->
        <div id="content" class="span10">
            <div class="page-header">
                <h1>Orders</h1>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#!orderList">Orders</a></li>
                <li role="presentation"><a href="#!requestList">Requested</a></li>
                <li role="presentation"><a href="#!diliverList">Deliveries</a></li>
                <li role="presentation"><a href="#!rejectList/">Rejects</a></li>
            </ul>

            <div class="box-content">
                <form  ng-submit="sendMessage()">
                <div class="form-group" >

                        <div class="form-horizontal">
                        <input class="form-control" id="vendor" type="text"  placeholder="vendor email" >
                        <button class="btn btn-primary"  >Place Order</button>
                </div>

                </div>
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Drug Name</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Select Order</th>
                    </tr>
                    </thead>
                    <tbody ng-model="orderList">
                    <tr ng-repeat=" orders in order | orderBy:'-' " >
                        <td >{{orders.orderId}}</td>
                        <td class="center" >{{orders.drugId}}</td>
                        <td class="center">{{orders.quantity}}</td>
                        <td class="center">
                            <span class="label label-{{orders.status === 'New' ? 'success' : orders.status === 'reject' ? 'important' : orders.status === 'processing' ? 'warning' : ''}}">{{orders.status}}</span>

                        </td>
                        <td class="center">
                           <input type="checkbox" />
                        </td>
                    </tr>
                            <!--<span class="label label-important">Reject</span>-->
                            <!--<span class="label label-warning">Processing</span>-->

                    </tbody>
                </table>
            </div>
            </form>
        </div>
    </div>

</div>

